name: Deploy-on-Production

on:
  push:
    branches:
      - production

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout dev Repository
        uses: actions/checkout@v3
        with:
          ref: production
          # Gemini 曰く全ての履歴が必要なので下記がいるとのこと
          fetch-depth: 0

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEPLOY_KEY_NEW }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Sync to production
        run: |
          git config --global user.name "SIGMPS Admin"
          git config --global user.email "sigmps-admin@ipsj.or.jp"

          # リモートの追加
          git remote add production_repo git@github.com:sigmps/sigmps.github.io.git
          # 現在の production ブランチを 公開側のマスターへ -f オプションで上書き
          GIT_TRACE=1 GIT_CURL_VERBOSE=1 git push -f production_repo production:master
